<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>guia_campeones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Guía de Campeones</ion-title>
      <ion-card>
        <img alt="Silhouette of mountains" src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Jinx_0.jpg" />
        <ion-card-header>
          <ion-card-title>JINX </ion-card-title>
          <ion-card-subtitle>ADC - GUÍA </ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          Matakraken
          Por lo general se usa  Kraken Slayer con Jinx porque es un item que te brinda muy buen dps y tambien es muy bueno porque podes llegar a 
          meter mucho daño con el daño verdadero, la otra opción es  Galeforce pero ese item solamente lo uso cuando necesito supervivencia, 
          especialmente por la pasiva mitica de movilidad y la activa que te da un desplazamiento.
        </ion-card-content>
      </ion-card>
      
    </ion-toolbar>
  </ion-header>
</ion-content>
